

.boxStyles {
  width: 200px;
  height: 200px;
  display: inline-flex;
  margin: 2px;
  justify-content: center;
  /*border-radius: 90px;*/
}

#container {
  width: 420px;
  height: 420px;
  background-color: #000;
  padding: 20px 8px 8px 20px;
  border-radius: 10px;
  margin-left: 30px;
  justify-content: center;
}

.id-div {
  padding: 20px;
}

h1 {
  text-align: center;
}


